$color-default: #000000 !default;
$color-primary: #0052a5 !default;

$color-warning: #e30613 !default;
$color-error: #e30613 !default;

$color-active: #e6ac00 !default;
$color-read: #333333 !default;

$color-input-border: #c5c5c7 !default;


$color-light-gray: #f2f2f2 !default;
$color-white: #ffffff !default;
