@font-face {
  font-family: font-bold;
  src: url(./fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: font-bold-italic;
  src: url(./fonts/open-sans/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family: font-extra-bold;
  src: url(./fonts/open-sans/OpenSans-ExtraBold.ttf) format('ttf');;
}

@font-face {
  font-family: font-extra-bold-italic;
  src: url(./fonts/open-sans/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: font-italic;
  src: url(./fonts/open-sans/OpenSans-Italic.ttf);
}

@font-face {
  font-family: font-light;
  src: url(./fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: font-light-italic;
  src: url(./fonts/open-sans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: font-regular;
  src: url(./fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: font-semi-bold;
  src: url(./fonts/open-sans/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: font-semi-bold-italic;
  src: url(./fonts/open-sans/OpenSans-SemiBoldItalic.ttf);
}
