<div [formGroup]="form" class="form">
  <div class="row">
    <div class="col-md-2">
      <ds-field-text controlName="zip" label="Code" placeholder="Enter zip code"></ds-field-text>
    </div>
    <div class="col-md-10">
      <ds-field-text controlName="city" label="City" placeholder="Enter city name"></ds-field-text>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <ds-field-text controlName="street" label="Street" placeholder="Enter street"></ds-field-text>
    </div>

    <div class="col-md-2">
      <ds-field-text controlName="number" label="Number" placeholder="Number"></ds-field-text>
    </div>

    <div class="col-md-2">
      <ds-field-text controlName="local" label="Local" placeholder="Local"></ds-field-text>
    </div>
  </div>

</div>
