@import './../../styles/ds-main';
@import './../../styles/ds-fonts';


.section {
  width: 100%;

  color: $color-read;
  background: inherit;

  font-size: 0.9em;
  font-family: font-semi-bold, serif, cursive;

  border-width: 0;

  padding-left: 4%;
  padding-right: 4%;

  .title {
    margin-left: -5px;
    color: $color-read;
  }

  .valid {
    color: $color-primary;
  }

  .not-valid {
    color: $color-error;
  }

}

