@import './../../styles/ds-main';
@import './../../styles/ds-fonts';

.field {
  box-shadow: none;
  outline: none;

  width: 100%;

  padding: 5px;
  margin: 2px 3px 3px 3px;

  color: $color-read;

  font-size: 0.9em;
  font-family: font-semi-bold, serif, cursive;

  border-width: 1px;
  border-style: solid;
  border-color: $color-input-border;
  border-radius: 0px;

  //border-top: none;
  //border-left: none;
  //border-right: none;

  &:hover {
    border-color: $color-primary;
    cursor: pointer;
  }

  &:active {
    border-color: $color-active;
  }

  &:focus {
    margin: 0 2px 2px 2px;

    color: $color-default;

    border-width: 2px;
    border-color: $color-active;
    cursor: text;
  }

  &:placeholder-shown {
    font-size: small;
    font-family: font-italic, serif;
  }
}

select option {
  background:transparent;
  border:0;
}

select.field{

  .option {
    font-size: 0.9em;
    font-family: font-semi-bold, serif, cursive;

    border-width: 1px;
    border-style: solid;
    border-color: $color-input-border;
    border-radius: 0;


    color: red;


    border: 2px solid red;


    .selection  {
      color: $color-primary;
    }
  }

  &:focus {
    cursor: pointer;
  }
}


.field-label {

  padding-left: 3px;

  font-size: 0.9em;
  font-family: font-semi-bold, cursive;

  padding-bottom: 0;
  margin-bottom: 0;
}

.field-valid-message {

  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 5px;

  border-color: $color-warning;

  color: $color-warning !important;

  font-size: 0.8em;
  font-family: font-regular, cursive;
}

.warning {
  border-color: $color-warning !important;
  color: $color-warning !important;
}

.warning-color {
  color: $color-warning !important;
}
