<ds-rows [formGroup]="form">
  <ds-row>
    <ds-field-text colSm="3" controlName="zip" label="Zip" placeholder="Enter zip code"></ds-field-text>
    <ds-field-text colSm="9" controlName="city" label="City" placeholder="Enter city name"></ds-field-text>
  </ds-row>
  <ds-row>
    <ds-field-text colSm="8" controlName="street" label="Street" placeholder="Enter street"></ds-field-text>
    <ds-field-text colSm="2" controlName="number" label="Number" placeholder="Number"></ds-field-text>
    <ds-field-text colSm="2" controlName="local" label="Local" placeholder="Local"></ds-field-text>
  </ds-row>
</ds-rows>

