<ds-rows [formGroup]="form">
  <ds-row>
    <ds-field-text colSm="6" colMd="6" controlName="lastName" label="Last name" placeholder="Enter last name"></ds-field-text>
    <ds-field-text colSm="6" colMd="6" controlName="firstName" label="First name" placeholder="Enter first name"></ds-field-text>
  </ds-row>
  <ds-row>
    <ds-field-text colSm="3" colMd="3" controlName="id" label="ID" placeholder="Enter user ID"></ds-field-text>
    <ds-field-text colSm="9" colMd="9" controlName="nationality" label="Nationality" placeholder="Enter nationality"></ds-field-text>
  </ds-row>
  <ds-row>
    <ds-field-text colSm="3" colMd="3" controlName="birtDate" label="Birt date" placeholder="Enter dirt date"></ds-field-text>
    <ds-field-select colSm="3" colMd="3" controlName="sex" label="Sex" [data]="sex" dataKey="key" dataLabel="value"></ds-field-select>
    <ds-field-text colSm="6" colMd="6" controlName="birtCity" label="Birt city" placeholder="Enter birt city"></ds-field-text>
  </ds-row>
  <ds-row>
    <ds-field-text colSm="6" colMd="6" controlName="fatherName" label="Father name" placeholder="Enter father name"></ds-field-text>
    <ds-field-text colSm="6" colMd="6" controlName="matherName" label="Mather name" placeholder="Enter mather name"></ds-field-text>
  </ds-row>
</ds-rows>
